<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="hlsG70uULL52FU5ll1141rtzuQsm8GXedQXM89nv3tU" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/input.css">
    <link rel="stylesheet" href="../assets/styles.css">
    <!-- swiper js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <!-- remix icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="/assets/img/alpeada-logo/favicon.png" type="image/x-icon">
    
    <title>Accounts - Alpeada</title>
</head>
<body>
    <main>
        <!-- top contact bar -->
        <div class="bg-white shadows  h-[60px] md:h-[40px] flex md:hidden  mx-auto">
            <!-- nav bar smal screen -->
            <div class="w-full largenav relative block md:hidden z-[999] ">
                <div class="alpeadalogosm flex justify-center items-center h-[90%] my-auto">
                    <img src="../assets/img/alpeada-logo/vector/default-monochrome-black.svg" class="logomini" alt="">
                </div>
                <div class="absolute top-[30px] left-[20px] -translate-x-[50%] -translate-y-[50%]">
                    <div class="menubar flex items-center h-full">
                        <button id="menuBtn"  type="button" class="inline-flex items-center  text-md text-maingrey md:hidden">
                            <!-- <span class="sr-only">Open sidebar</span> -->
                            <svg class="w-8 h-8" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                            </svg>
                         </button>
                    </div>
                </div>
                <aside id="logoSidebar" class="fixed top-0 left-0 z-[1] w-64 h-screen transition-transform -translate-x-[110%]  "> <!---translate-x-full -->
                    
                    <div class="h-full px-3 py-12 overflow-y-auto bg-gray-100">
                        <div id="closeMenu" class="absolute top-[45%] -right-4 bg-gray-100 rounded-full">
                            <img src="../assets/img/arrow-left-double-line.svg" class="w-10" alt="">
                        </div>
                       <a href="#" class="flex items-center ps-2.5 mb-10">
                          <img src="../assets/img/alpeada-logo/vector/default-monochrome.svg" class="h-10 me-3 " alt="Flowbite Logo" />
                          <!-- <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span> -->
                       </a>
                       <ul class="space-y-4 font-medium">
                          <li>
                             <a href="/" class="flex items-center p-2 text-gray-900  hover:bg-gray-100 group">
                                <img src="../assets/img/home-angle-2-svgrepo-com.svg " alt="" class="flex-shrink-0 font-bold w-5 h-5 text-gray-500 transition duration-75 " >
                                <span class="ms-6 font-poppins whitespace-nowrap font-light">Home</span>
                             </a>
                          </li>
                          <li>
                            <a href="/about" class="flex items-center p-2 text-gray-900  hover:bg-gray-100 group">
                               <img src="../assets/img/about-us-svgrepo-com.svg " alt="" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 " >
                               <span class="ms-6 font-poppins whitespace-nowrap font-light">About Alpeada</span>
                            </a>
                         </li>
                         <li>
                            <a href="/pricing" class="flex items-center p-2 text-gray-900  hover:bg-gray-100 group">
                               <img src="../assets/img/price-tag-svgrepo-com.svg " alt="" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 " >
                               <span class="ms-6 font-poppins whitespace-nowrap font-light">Pricing</span>
                            </a>
                         </li>
                         <li>
                            <a href="https://www.coinbase.com/en-gb/explore/s/top-gainers" class="flex items-center p-2 text-gray-900  hover:bg-gray-100 group">
                               <img src="../assets/img/square-dollar-chart-svgrepo-com.svg" alt="" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 " >
                               <span class="ms-6 font-poppins whitespace-nowrap font-light">Top Markets</span>
                            </a>
                         </li>
                       
                          <li>
                             <a href="/signup" class="flex items-center p-2 text-gray-900  group">
                                <img src="../assets/img/sign-in-svgrepo-com.svg " alt="" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 " >
                             
                                <span class="flex-1 ms-6 whitespace-nowrap font-poppins font-light">Sign In</span>
                             </a>
                          </li>
                          <li>
                             <a href="/signup" class="flex items-center p-2 text-gray-900  group">
                                <img src="../assets/img/sign-out-svgrepo-com.svg " alt="" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 " >
                             
                                <span class="flex-1 ms-6 whitespace-nowrap font-poppins font-light">Sign Up</span>
                             </a>
                          </li>
                       </ul>
                    </div>
                 </aside>
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container pb-[-3em]">
                    <div class="tradingview-widget-container__widget "></div>
                    <div class="tradingview-widget-copyright bg-white"><a href="https://www.tradingview.com/"
                            rel="noopener nofollow" target="_blank"></a></div>
                    <script type="text/javascript"
                        src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                        {
                            "symbols": [{
                                    "proName": "BITSTAMP:ETHUSD",
                                    "title": "Ethereum"
                                },
                                {
                                    "description": "Bitcoin",
                                    "proName": "COINBASE:BTCUSD"
                                },
                                {
                                    "description": "Solana",
                                    "proName": "BINANCE:SOLUSDT"
                                },
                                {
                                    "description": "Bnb",
                                    "proName": "BINANCE:BNBUSDT"
                                },
                                {
                                    "description": "Gold",
                                    "proName": "FXOPEN:XAUUSD"
                                },
                                {
                                    "description": "EURUSD",
                                    "proName": "FX:EURUSD"
                                },
                                {
                                    "description": "TSLA",
                                    "proName": "NASDAQ:TSLA"
                                },
                                {
                                    "description": "APPLE",
                                    "proName": "NASDAQ:AAPL"
                                },
                                {
                                    "description": "META",
                                    "proName": "NASDAQ:META"
                                }
                            ],
                            "showSymbolLogo": true,
                            "colorTheme": "light",
                            "isTransparent": false,
                            "displayMode": "adaptive",
                            "locale": "en"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->
            </div>


        </div>
        <div class="hidden bg-maingrey  h-[60px] md:h-[40px] md:flex  mx-auto">
            <!-- contact bar large  -->
            <div class=" hidden md:flex justify-end items-center w-[80%] mx-auto ">
                <div class="flex justify-end items-center text-white">
                    <ul class="flex uppercase gap-x-11 text-[1vw] text-white">
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a class="bg-mainlime text-maingrey px-3 py-1 rounded-lg" href="/signup">Open Account</a>
                        </li>
                        <li>
                            <a href="/signup">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- navigation bar -->
        <section>
            <nav class="largenav hidden md:flex">
                <!-- navigation for large screens -->
                <div class="w-full  bg-white h-[125px] ">
                    <div>
                        <div class="w-full mx-auto px-[5vw]">
                            <div class="flex justify-start items-center gap-x-[20%]">
                                <div>
                                    <img src="../assets/img/alpeada-logo/vector/default-monochrome-black.svg" class="logo"
                                        alt="logo">
                                </div>
                                <div class="">
                                    <ul class="flex gap-x-[3em] text-gray-600 font-medium  text-[1.3vw] font-lato ">
                                        <li class="hover:text-mainlime">
                                            <a href="/">Home</a>
                                        </li>
                                        <li class="hover:text-mainlime">
                                            <a href="/about">About</a>
                                        </li>
                                        <li class="hover:text-mainlime">
                                            <a href="/pricing">Pricing</a>
                                        </li>
                                        <li class="hover:text-mainlime">
                                            <a href="https://www.coinbase.com/en-gb/explore/s/top-gainers">Top Markets</a>
                                        </li>
                                        <li class="hover:text-mainlime">
                                            <a href="/terms">Terms&Conditions</a>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/"
                                rel="noopener nofollow" target="_blank"></a></div>
                        <script type="text/javascript"
                            src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                            {
                                "symbols": [{
                                        "proName": "BITSTAMP:ETHUSD",
                                        "title": "Ethereum"
                                    },
                                    {
                                        "description": "Bitcoin",
                                        "proName": "COINBASE:BTCUSD"
                                    },
                                    {
                                        "description": "Solana",
                                        "proName": "BINANCE:SOLUSDT"
                                    },
                                    {
                                        "description": "Bnb",
                                        "proName": "BINANCE:BNBUSDT"
                                    },
                                    {
                                        "description": "Gold",
                                        "proName": "FXOPEN:XAUUSD"
                                    },
                                    {
                                        "description": "EURUSD",
                                        "proName": "FX:EURUSD"
                                    },
                                    {
                                        "description": "TSLA",
                                        "proName": "NASDAQ:TSLA"
                                    },
                                    {
                                        "description": "APPLE",
                                        "proName": "NASDAQ:AAPL"
                                    },
                                    {
                                        "description": "META",
                                        "proName": "NASDAQ:META"
                                    }
                                ],
                                "showSymbolLogo": true,
                                "colorTheme": "light",
                                "isTransparent": false,
                                "displayMode": "adaptive",
                                "locale": "en"
                            }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->

                    </div>
                    
                </div>
                <!-- <div class="hidden md:flex h-[37px]">
                    
                </div> -->
            </nav>
        </section>

        <section>
            <div class="signupbg">
                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-y-[3.5em] pb-[100px]">
                    <div class="flex justify-center items-center w-[80%] mx-auto mt-[15%] md:mt-0">
                        <div class="text-center">
                            <div>
                                <h1 class="text-white font-poppins font-semibold text-[2em] md:text-[3em] tracking-tight md:tracking-normal">Your access to the global
                                    financial markets</h1>
                            </div>
                            <div>
                                <h2 class="text-white font-lato font-light text-[1.1em] md:text-[1.3em]">Invest in hundreds of stocks commission free </h2>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center h-full md:py-[10%]">
                        <div class=" bg-transwhite   rounded-2xl w-[80%]  ">

                         
                           
                            <section class="pb-[1.5em]">
                                
                                <div class="flex justify-center bg-gray-400">
                                    
                                    <div id="login" class="flex justify-center py-[1em] ">
                                        <button class="font-poppins text-base font-medium text-black">
                                            Log In
                                        </button>
                                    </div>
                                </div>
                            </section>

                            <div>
                                <!-- <div class="px-5 mx-auto">
                                    <%- messages('messages') %> 
                                </div> -->  
                                <div class="w-[70%] px-3">
                <div class="flex  items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div class="">
                                <span class="font-medium">Name</span>, Your account has successfully been verfied. Please Log In
                            </div>
                            </div>
                                </div>
                                   

                                <div id="signInUp">
                                    <form class="p-5" action="/login" method="post">
                                    <div class="mx-auto grid gap-6 mb-5">
                                                    
                                                    <div class="relative z-0">
                                                    <input required type="email" id="floating_standard" class="block rounded-t-lg px-2.5 pb-2.5  w-full text-sm text-gray-900 bg-gray-50  border-0 border-b-2  appearance-none border-gray-600  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " name="email"/>
                                                    <label for="floating_standard" class="absolute ml-1 text-sm text-maingrey duration-300 transform -translate-y-7 scale-75 top-2  origin-[0] peer-focus:start-0 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-95 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
                                                    </div>  
                                                    <div class="relative z-0">
                                                    <input required type="password" id="floating_standard1" class="block rounded-t-lg px-2.5 pb-2.5  w-full text-sm text-gray-900 bg-gray-50  border-0 border-b-2  appearance-none border-gray-600  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " name="password"/>
                                                    <label for="floating_standard1" class="absolute ml-1 text-sm text-maingrey duration-300 transform -translate-y-7 scale-75 top-2  origin-[0] peer-focus:start-0 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-95 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
                                                    </div>   
                                                    <div class="flex justify-between items-center">
                                                        <div class="flex items-start mb-">
                                                                <div class="flex items-center h-5">
                                                                    <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-mainlime " >
                                                                </div>
                                                                <label for="remember" class="ms-2 text-sm font-medium text-gray-900 ">Remember me</label>
                                                        </div>
                                                        <div>
                                                        <a href="#" class="text-sm underline font-normal text-black">Forgot Password?</a>  
                                                        </div>

                                                    </div>
                                                
                                                    <div class="pt-[1em] flex justify-center ">
                                                <button type="submit" class="text-gray-900 bg-mainlime focus:ring-4 focus:outline-none  font-semibold rounded-lg text-sm w-full sm:w-[50%] px-5 py-2.5 text-center ">Log In</button>
                                                    
                                                    </div>             
                                                </div>
                                </form>
                                </div>
                               
                            </div>
                            
     
                        </div>
                    </div>
                </div>
                
            </div>
        </section>











        <footer class="bg-white pt-[3em] ">
            <div class=" w-[90%] mx-auto max-w-screen-xl">
                <div class="grid grid-cols-2 gap-10 px-4 py-6 lg:py-8 md:grid-cols-4">
                    <div class="col-span-2">
                        <!-- <h2 class="mb-6 text-sm font-semibold text-maingrey uppercase ">Company</h2> -->
                        <div class="flex justify-start items-center mb-6">
                            <img src="../assets/img/alpeada-logo/vector/default-monochrome.svg" alt="" class="w-[185px] h-[60px]">
                           
                        </div>
                        <div class="text-gray-500 font-normal font-lato">
                            <span>With innovative investment tools and a collaborative trading community,eAlpeada empowers millions of users in over 140 countries to trade and invest in a simple and transparent way.</span>
                        </div>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Help center</h2>
                        <ul class="text-gray-500  font-medium font-lato">
                            <!-- <li class="mb-4">
                                <a href="#" class="hover:underline">Discord Server</a>
                            </li> -->
                            <!-- <li class="mb-4">
                                <a href="#" class="hover:underline">Twitter</a>
                            </li> -->
                            <li class="mb-4">
                                <a href="https://www.instagram.com/alpeada?igsh=NzJldW5rcGMzdndo&utm_source=qr" class="hover:underline">Instagram</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-maingrey uppercase ">Legal</h2>
                        <ul class="text-gray-600  font-medium">
                            <li class="mb-4">
                                <a href="/terms" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li class="mb-4">
                                <a href="/terms" class="hover:underline">Licensing</a>
                            </li>
                            <li class="mb-4">
                                <a href="/terms" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="text-gray-500 text-justify space-y-[1em] py-[5.5em]">
                    <!-- <span class="text-xs text-gray-500  sm:text-center">© 2023 <a href="https://flowbite.com/">Flowbite™</a>. All Rights Reserved.
                </span> -->
                    <div class="text-xs tracking-tight">
                        Alpeada (Europe) Ltd., a Financial Services Company authorised and regulated by the Cyprus
                        Securities Exchange Commission (CySEC) under the license # 109/10.
                        Registered in Cyprus under Company No. HE 200585. Registered Office: 4 Profiti Ilia Str., Kanika
                        Business Centre, 7th floor, Germasogeia, 4046, Limassol, Cyprus.
                        Alpeada (UK) Ltd, a Financial Services Company authorised and regulated by the Financial Conduct
                        Authority (FCA) under the license FRN 583263.
                        Registered Office: 24th floor, One Canada Square, Canary Wharf, London E14 5AB.
                        Alpeada AUS Capital Limited is authorised by the Australian Securities and Investments
                        Commission (ASIC) to provide financial services under Australian Financial Services License
                        491139.
                        Registered Office: Level 3, 60 Castlereagh Street, Sydney NSW 2000, Australia.
                        Alpeada (Seychelles) Ltd. is licenced by the Financial Services Authority Seychelles ("FSAS") to
                        provide broker-dealer services under the Securities Act 2007 License #SD076
                        Registered Office: Alpeada Suites, S45 2nd Floor, Espace Building, Victoria, Seychelles.
                    </div>
                    <div class="text-xs tracking-tight">
                        Past performance is not an indication of future results
                        General Risk Disclosure | Terms & Conditions
                    </div>
                    <div class="text-xs tracking-tight">
                        You should seek advice from an independent and suitably licensed financial advisor and ensure
                        that you have the risk appetite, relevant experience and knowledge before you decide to trade.
                        Under no circumstances shall Alpeada have any liability to any person or entity for any direct,
                        indirect, special, consequential or incidental damages whatsoever. Cryptocurrencies markets are
                        unregulated services which are not governed by any specific European regulatory framework
                        (including MiFID). Therefore when using our Cryptocurrencies Trading Service you will not
                        benefit from the protections available to clients receiving MiFID regulated investment services,
                        such as access to the Cyprus Investor Compensation Fund (ICF)/the Financial Services
                        Compensation Scheme (FSCS) and the Financial Ombudsman Service for dispute resolution. Trading
                        with Alpeada by following and/or copying or replicating the trades of other traders involves a
                        high level of risks, even when following and/or copying or replicating the top-performing
                        traders. Such risks includes the risk that you may be following/copying the trading decisions of
                        possibly inexperienced/unprofessional traders, or traders whose ultimate purpose or intention,
                        or financial status may differ from yours. Past performance of an Alpeada Community Member is
                        not a reliable indicator of his future performance. Content on Alpeada's social trading platform
                        is generated by members of its community and does not contain advice or recommendations by or on
                        behalf of Alpeada - Your Social Investment Network.
                        Copyright © 2006-2023 Alpeada - Your Social Investment Network, All rights reserved.
                    </div>
                </div>
                
            </div>
        </footer>






        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/gsap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
        <script src="../assets/js/main.js"></script>

        

    </main>
</body>
</html>