@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
#202046
#332046
#203346
#462033
#464620
#204633
#B04F6B
*/

/* begginning website code */
















body{
    font-family: 'Source Sans Pro', sans-serif;
}

.logo{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 185px;
    height: 60px;
    margin: 10px 0;
}

.logomini{
    max-width: 100%;
    /* height: auto; */
    vertical-align: middle;
    width: 175px;
    height: 100px;
   
}

.homebackground{
    width: 100%;
    height:700px;
    background-image: url(./img/adam-nowakowski-_dRjxWgse48-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    /* box-shadow: 2px 2px #000; */
}
.homebackground::before{
    content: "";
    position: absolute;
    top: inherit;
    left: inherit;
    width: 50%;
    height: inherit;
    background: rgb(32, 32, 70);
    /* background: linear-gradient(-45deg, #fffffa, 	#169bd7, 	#222c65, 	#243b80); */
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    opacity: .8;
    clip-path: polygon(0% 0%, 60% 0%, 100% 50%, 60% 100%, 0% 100%);
  
}

@media  only screen and (max-width:768px)  {
    .homebackground{
        width: 100%;
        height: 90vh;
        background-image: url(./img/adam-nowakowski-_dRjxWgse48-unsplash.jpg);
        background-position: center left;
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-size: cover;
        /* box-shadow: 2px 2px #000; */
    }
    .homebackground::before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60vh;
        background: rgb(32, 32, 70);
        /* background: linear-gradient(-45deg, #fffffa, 	#222c65, 	#222c65, 	#243b80); */
        background-size: 400% 400%;
        animation: gradient 8s ease infinite;
        opacity: .9;
        clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 100%, 0 36%);
      
    }
}

/* .fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/annoie.jpg);
    background-size: cover;
    background-attachment: fixed; 
  } */

  /* .fixed-background {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .fixed-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-image: url(./img/annoie.jpg);
    background-size: cover;
    z-index: -1; 
  }

  .content {
    position: relative;
    z-index: 1; 
} */

.section-container {
    position: relative;
    /* height: 100vh; */
    overflow: hidden; /* Ensure the section clips the fixed background */
  }

  .fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: rgb(32, 32, 70);
    background-image: url(./img/dylan-calluy-JpflvzEl5cg-unsplash.jpg);
    background-blend-mode:overlay;
    -webkit-background-blend-mode: overlay;
   background-repeat: no-repeat;
   -webkit-background-repeat: no-repeat;
   background-size: cover;
   -webkit-background-size:cover;
   background-position: center center;
   -webkit-background-position:center center;
    z-index: -1; 
  }

 
  .bgtradertrus {
    position: relative;
    z-index: 5; /* Ensure content is rendered above the background */
    background-color: transparent; /* Set the background to transparent */
  }

.bgtradertrust {
    width: 100%;
    max-width: 100%;
    background: rgb(32, 32, 70);
    background-attachment:fixed;
    -webkit-background-attachment: fixed;
    background-image: url(./img/annoie.jpg);
    -webkit-background-image:url(./img/dylan-calluy-JpflvzEl5cg-unsplash.jpg);
    background-blend-mode:multiply;
     -webkit-background-blend-mode: multiply;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size:cover;
    background-position: center center;
    -webkit-background-position:center center;
    color: white;
 
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}


.shadows{
    box-shadow: 3px 3px #000;
}

.boxicon img{
  width: 4.5em;
  max-width: 100%;
  align-items: center;
}



@media  only screen and (min-width:768px){
    .experttraderbg{
        width: 100%;
        height: 300px;
        background-color:rgba(26, 26, 55, .7);
        background-image: url(./img/adam-nowakowski-VkRq5w3asCA-unsplash.jpg);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        box-shadow: 2px 2px #000;
    }

    .headingbar{
        background: rgb(32, 32, 70);
    }

    .navfixed{
        position: fixed;
        background: white;
        /* padding-bottom: 40px;
        height: 30px; */
        top: 0;
        width: 100%;
        animation: navfixed .1s ease-in-out;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(.65,.27,.63,.9) ;
        z-index: 9999;
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      }
}

.invstmethod img{
    max-width: 100%;
    width: 45px;

}

.invstmethod1 img{
    max-width: 100%;
    width: 40px;

}

.tradingbot img{
    width: 480px;
    max-width: 100%;
}

.numbering img{
    width: 25px;
    max-width: 100%;
}

.minus img{
     width: 350px;
     height: 15px;
}

.boxedshadow{
    box-shadow: 2px 2px rgb(32, 32, 70);
}

.navfixed{
    position: fixed;
    background: white;
    height: 60px;
    top: 0;
    width: 100%;
    animation: navfixed .1s ease-in-out;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.65,.27,.63,.9) ;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  @keyframes navfixed {
    from{
      position: relative;
    }
    to{
     position: fixed;
    }
  }


  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  .revealleft {
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .revealleft.active {
    transform: translateY(0);
    opacity: 1;
  }
  .revealright {
    position: relative;
    transform: translate3d(-2.7rem, -10rem, 1rem);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .revealright.active {
    transform: translate3d(0, 0,0);
    opacity: 1;
  }

  .signupbg{
    width: 100%;
    height: 140vh;
    background-color:rgba(26, 26, 55, .6);
    background-image: url(./img/signup.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
  }

  .activesignoptionleft{
    background-color: rgba(255, 255, 255, .8);
    border-top-right-radius:1.5rem ;
  }

  .activesignoptionright{
    background-color: rgba(255, 255, 255, .8);
    border-top-left-radius:1.5rem ;
  }

  .aboutbg{
    width: 100%;
    height: 20vh;
    background-color:rgba(26, 26, 55, .7);
    background-image: url(./img/bout.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
  }

  /* end website code3 */
  
  